<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/custom2.css">
</head>
<body>
<section class="slider">
    <div class="slirer-content">
        <input type="radio" name="btn-radio" id="radio1">
        <input type="radio" name="btn-radio" id="radio2">
        <input type="radio" name="btn-radio" id="radio3">

        <div class="slide-box primeiro">
            <img class="img-descktop" rsc="/midia/imagem1.png" alt="slide 1">
            <img class="img-mobile"src="/midia/imagem1.png" alt="slide 1">
        </div>

        <div class="slide-box segundo">
            <img class="img-descktop" rsc="/midia/imagem4.png" alt="slide 1">
            <img class="img-mobile"src="/midia/imagem4.png" alt="slide 1">
        </div>

        <div class="slide-box terceiro">
            <img class="img-descktop" rsc="/midia/imagem3.png" alt="slide 1">
            <img class="img-mobile"src="/midia/imagem3.png" alt="slide 1">
        </div>

        <div class="nav-auto">
            <div class="auto-btn1"></video>
            <div class="auto-btn2"></video>
            <div class="auto-btn3"></video>
        </div>

        <div class="nav-manual">
            <label for="radio1" class="manual-btn"></label>
            <label for="radio2" class="manual-btn"></label>
            <label for="radio3" class="manual-btn"></label>
        </div>
</section>
    
</body>
</html>